#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main.calculator {
  display: flex;
  flex-direction: column;
  max-width: 500px;
 
  min-height: max-content;
  border-radius: 2.5rem;
  padding: 1.2rem;
  background-color: #666575;
  overflow: hidden;
}
section.display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #c1e3c4;
  margin-bottom: 1.5rem;
  min-height: calc(70vh - 55vh);
  filter: drop-shadow(0px 2px 2px #5d5c6a);
  overflow: hidden;
}
textarea {
  transition: 0.8s all ease-in;
  position: absolute;
  resize: none;
  overflow: hidden;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: end;
  left: 0;
}
p.heading {
  transition: 0.4s display ease;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea#current {
  top: 50%;
  font-size: 35px;
  height: 50%;
  width: 95%;
}
textarea#history {
  top: 30px;
  font-size: 20px;
  height: 45%;
  width: 95%;
}

section.buttons-grid {
  max-height: calc(70vh - 25vh);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 9px;
}

button {
  color: #ceced8;
  filter: drop-shadow(0px 1.2px 0.6px #eeeeef);
  font-size: large;
  text-align: center;
  outline: none;
  border: none;
  min-width: 60px;
  min-height: 60px;
  border-radius: 1rem;
  transition: 0.2s all;
}

button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.3;
}

button.number {
  background-color: #817f98;
}

button.clear {
  background-color: #9297d7;
  filter: drop-shadow(0px 1.2px 0.6px #eeeeef);
}
button.operation {
  background-color: #f37b83dd;
  filter: drop-shadow(0px 1.4px 0.6px #eeeeef);
}

